<section>
	<h2>Projects</h2>
  <projectlist projects="$ctrl.projects"></projectlist>
  <!--<md-input-container>
  <md-select ng-model="projectSelect" placeholder="Select a Project">
    <md-option ng-value="project" ng-repeat="project in $ctrl.projects">{{ project.description }}</md-option>
  </md-select>
</md-input-container>-->
	<!--<div>
		<div ng-repeat="project in $ctrl.projects">
			{{project.description | project.duedate}}
		</div>
	</div>-->
  <add fields="description,duedate" add="$ctrl.add"></add><hr>
</section>


