<section>
		<h2>Contexts</h2>
		<!--<md-input-container>
			<select 
				ng-model="$ctrl.selected"
				ng-change="$ctrl.toContext(event)"
				ng-options="context._id as context.name for context in $ctrl.contexts"
				>
				<option value="">TASK CONTEXTS</option>

			</select>

		</md-input-container>-->

		<md-input-container>
			<select ng-model="$ctrl.selected"
				ng-change="$ctrl.toContext(event)"
				ng-options="context._id as context.name for context in $ctrl.contexts"
				>
				<option value="">TASK CONTEXTS</option>

			</select>

		</md-input-container>

		<ul>
			<li ng-repeat="task in $ctrl.tasks"> {{task.description}} </li>
		</ul>

	<add fields="name" add="$ctrl.add"></add>
</section>