<section>
	<!--<a ui-sref="collect"</a>-->
	<h2>Welcome to the BigToDo App!</h2>
  <p>BigToDo is more than a to-do list! Some of the reasons to-do lists cause stress are:</p>
  <ul>
    <li>They don't contain enough (if you only write down the most important things)</li>
    <li>They display too much (you should capture everything, but that doesn't mean you should see it all the time)</li>
    <li>They don't filter to-dos by where you are and what you have available to work with</li>
  </ul>
</section>