<main>
  <nav>
    <md-nav-bar layout="row" class="md-whiteframe-z3" style="padding:0px;margin:0px">
      <md-nav-item md-nav-sref="tasks">Tasks</md-nav-item>
      <md-nav-item md-nav-sref="projects">Projects</md-nav-item>
      <md-nav-item md-nav-sref="plan">Plan</md-nav-item>
      <md-nav-item md-nav-sref="do">Do</md-nav-item>
      <md-nav-item md-nav-sref="about">About</md-nav-item>
      <md-nav-item ng-if="$ctrl.isAuthenticated()" md-nav-click="$ctrl.logout()">Logout</md-nav-item>
      <md-nav-item ng-if="!$ctrl.isAuthenticated()" md-nav-click="$ctrl.login()">Login</md-nav-item>
    </md-nav-bar>
    </nav>
  <ui-view></ui-view>
  <hr> 
</main>