<section>
  <h2 class="pagetitle">Planning</h2>
  <md-input-container>
    <md-select ng-model="$ctrl.projectSelect" ng-change="$ctrl.refreshLists()" placeholder="Select a Project">
      <md-option ng-value="project" ng-repeat="project in $ctrl.allProjects">{{ project.description }}</md-option>
    </md-select>
  </md-input-container>
  <div>
  <span class="listbox">
    <h2>Tasks</h2>
    <tasklist tasks="$ctrl.tasks"></tasklist>
  </span>
  <span class="listbox">
    <h2>Projects</h2>
    <projectlist projects="$ctrl.projects"></projectlist>
  </span>
  </div>
</section>