@import 'buttons';

body, html {
	font-family: 'Open Sans', sans-serif;
	background-color: lemonchiffon;
}

h2 {
  font-family: Ubuntu, Arial, sans-serif;
}

img {
	 max-width: 90%;
}

h2, h3, h4, p {
  margin: 0.5em;
}

.pagetitle {
  font-style: italic;
}

.sitelogo {
  font-family: Baloo, sans-serif;
  text-align: center;
  color: maroon;
}

.banner {
}