@import 'buttons';

body, html {
	font-family: Arial, Helvetica, sans-serif;
	background-color: lightgrey;
}

h3 {
  color: blue;
}

img {
	 max-width: 90%;
}

h2 {
  margin: 0.5em;
}

.pagetitle {
  font-style: italic;
}

.sitelogo {
  font-family: Baloo, sans-serif;
  text-align: center;
  color: maroon;
}